@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --action-btn: #6500ee;
  --bg: #add7e8;
  --card-bg: #ffffff;
  --sub-text-color: #666666;
  --icon-color: #757575;
  --font: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: var(--bg);
  display: grid;
  place-content: center;
  height: 100vh;
}

.card {
  background-color: var(--card-bg);
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: auto minmax(250px, 50%) auto 10%;
  height: auto;
  width: 350px;
}

.card__title {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font);
  justify-content: space-around;
  align-content: start;
  padding: 10px 0;
  height: 70px;
}

.card__title__avatar {
  background-image: url("https://cdn.shopify.com/s/files/1/0236/0279/collections/DSCF9751_1_1024x792.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 10px;
  height: 100%;
  width: 50px;
}

.card__title__text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.card__title__subtext {
  color: var(--sub-text-color);
  font-size: 11.5px;
}

.card__media {
  background-image: url("https://wallpaperaccess.com/full/4023772.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__post__text {
  color: var(--sub-text-color);
  font-family: var(--font);
  font-size: 13px;
  padding: 10px;
}

.card__actions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-content: center;
  justify-content: end;
  padding: 15px 10px 15px;
}

.card__actions__btn {
  background-color: var(--card-bg);
  border: none;
  color: var(--action-btn);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  padding: 0px;
  text-transform: uppercase;
  width: max-content;
}

.card__actions__icon {
  color: var(--icon-color);
  font-size: 20px;
}

.card__actions__icon:first-child {
  grid-column-start: 5;
}